.clr-btn-on{
    display: block;
    margin: 2vh 0;
    padding: 1.4vh 1.6vw;
    /* width: 8vw; */
    /* height: 6vh; */
    font-size: 16px;
    border-radius: 12px;
    background-color: rgb(187, 59, 59);
    color: aliceblue;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
    cursor: pointer;
  }
  
  .clr-btn-off{
    display: none;
  }